# In the Iris of the Beholder

In [3]:
import pandas as pd
import numpy as np

from acquire import get_iris_data
import prepare
import explore

In [10]:
!jt -t gruvboxl -tf robotosans

/bin/sh: jt: command not found

<hr style="border-top: 10px groove limegreen; margin-top: 1px; margin-bottom: 1px"></hr>

## Project Planning

<hr style="border-top: 10px groove limegreen; margin-top: 1px; margin-bottom: 1px"></hr>

<hr style="border-top: 10px groove limegreen; margin-top: 1px; margin-bottom: 1px"></hr>

## Acquire Data

<hr style="border-top: 10px groove limegreen; margin-top: 1px; margin-bottom: 1px"></hr>

- I wrote a sql query to acquire my data from the Codeup database.
- I'm importing my get_iris_data function from my acquire.py file.
- I'm bringing in 150 rows and 6 columns on my initial acquisition.

In [9]:
%%html
<style>
  table {margin-left: 0 !important;}
</style>

|Target|Datatype|Definition|
|:-------|:--------|:----------|
| species | 150 non-null: object | iris species - virginica, versicolor, setosa |

|Feature|Datatype|Definition|
|:-------|:--------|:----------|
| petal_length       | 150 non-null: float64 |    iris petal length in cm |
| petal_width        | 150 non-null: float64 |    iris petal width in cm |
| sepal_length       | 150 non-null: float64 |    iris sepal length in cm |
| sepal_width        | 150 non-null: float64 |    iris sepal width in cm |

In [4]:
df = get_iris_data()

In [5]:
df.shape

(150, 6)

In [6]:
df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   species_id    150 non-null    int64
 1   species_name  150 non-null    object
 2   sepal_length  150 non-null    float64
 3   sepal_width   150 non-null    float64
 4   petal_length  150 non-null    float64
 5   petal_width   150 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [8]:
df.species_name.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species_name, dtype: int64

## Prepare Data

- 
- 
- 
-